.biography-page {
    padding: 10px 70px;
    position: absolute;
    left: 0;
    top: 0;
}

.pokemon-text {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.title {
    padding: 0;
    margin: 10px 0;
}

.definition {
    color: #6d6d6d;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.grid-context {
    display: grid;
    grid-template-columns: 120px 200px;
    grid-template-rows: minmax(15px, auto);
    grid-column-gap: 60px;
    list-style-type: none;
    font-size: 1rem;
    padding: 5px 0;
    margin: 0;
}

.grid-context ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.grid-context li {
    margin: 0px 0px 10px 0px;
    padding: 0;
    text-transform: capitalize;
}

.stat-name {
    color: #7e7e7e;
    font-weight: 500;  
}

.stat-value {
    display: block;
    justify-content: flex-start;
    align-self: center;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}

.gender-types {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.ability-list {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 15px 15px;
    grid-column-gap: 30px;
    grid-row-gap: 15px;;
}

.gender-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.male {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.gender-icon {
    width: 1rem;
    height: 1rem;   
}

.female {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.training-container {
    padding-top: 20px;
}