*{
  box-sizing: border-box;
}

.pokeball-logo {
  width: 40px;
  height: 40px;
  pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
  .pokeball-logo {
    animation: pokeball-logo-spin infinite 5s linear;
  }
}
  
.header {
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #242540;
}

.header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
@keyframes pokeball-logo-spin {
  from {
    transform: rotate(0deg);
   }
  to {
    transform: rotate(360deg);
  }
}
  