* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: minmax(280px, auto);
    grid-column-gap: 40px;
    grid-row-gap: 30px;;
    justify-content: center;
    align-items: center;
}

.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.load-btn {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    border-radius: 0.2rem;
    background-color: #242540;
    transition: transform 250ms ease-in;
    padding: 0.5rem 2rem;
}

.load-btn:hover {
    transform: translateX(1px) translateY(-4px);
    transition: transform 250ms ease-in;
    box-shadow: -2px 3px 0.5rem darkgray;
    background-color: #F60B4A;
}